<%- include("partials/header.ejs") %>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Register your Article</h1>
      <p class="col-lg-10 fs-4">Complete the following information to share your article</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" action="/submit" method="POST">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="Name" placeholder="Your Name" name="Name">
          <label for="Name">Your Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="Email" name="Email" placeholder="name@example.com">
          <label for="Email">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="Topic" name="Topic" placeholder="Article Topic">
          <label for="Topic">Article Topic</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="Title" name="Title" placeholder="Article Title">
          <label for="Title">Article Title</label>
        </div>
        <div class="form-floating mb-3">
          <input type="textarea" class="form-control" id="Article" name="Article" placeholder="Article" rows="3">
          <label for="Article">Article</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Register Article</button>
        <hr class="my-4">
        <small class="text-body-secondary">By clicking Register Article, you agree to the terms of use.</small>
      </form>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>